/* css reset code Start */
:root{ 
    --brand-color: #4CAF4F;
    --text-color: #18191F;
    --title-color: #4D4D4D;
    --p-color: #717171;
    --white-color: #ffffff;
    --bg-color: #F5F7FA;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

q:before,
q:after {
  content: "";
}

html,
body,
h1,
h2,
h3,
h4,
p,
ol,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style:normal;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  /* margin */
}
/* css reset code End */

.flex{
    display: flex;
}
.align_items_center{
    align-items: center;
}
.jsutify_content_space_between{
    justify-content: space-between;
}
.btn{
  padding: 14px 32px;
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--brand-color);
}

/* Header Section Start */
nav{
    width: 100%;
    padding: 30px 0px;
    background-color: var(--bg-color);
}
.container{
    max-width: 1230px;
    margin: auto;
}
.navMenu ul{
    gap: 50px;
    font-size: 16px;
    line-height: 24px;
}
.navMenu a{
    color: var(--text-color);
}
.navUser{
    justify-content: center;
    gap: 14px;
}
.userLogin{
    color: var(--brand-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 20px;
    border-radius: 6px; 
}
.userSignUp{
  padding: 10px 20px;
  border-radius: 6px;
  color: var(--white-color);
  background-color: var(--brand-color);
  font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
/* Header Section End */


/* Hero Setcion Start */
#heroSection{
  background-color: var(--bg-color);
  min-height:599px;
  margin-bottom: 40px;

}
#heroSection .container{
  max-width: 1152px;
  gap: 104px;
  justify-content: space-between;
  margin-bottom: 135px;

}
.heroSectionContent{
  max-width: 657px;
  padding-top: 161px;
  flex-direction: column;
  justify-content: center;
}
.heroSectionContent h1{
  color: var(--title-color);
  font-weight: 600;
  font-size: 64px;
  line-height: 76px;
}
.heroSectionContent h1 span{
  color: var(--brand-color);
}
.heroSectionContent p{
  color: var(--p-color);
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 32px;
}
.heroSectionLogo{
  padding-top: 96px;
  
}
.loader {
  width: 100%;
  justify-content: center;
   gap: 8px;
   padding-bottom: 16px;
}
.loader div{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--brand-color);

}
.loader div:nth-child(2){
  background-color: #c2e1c7;
}
.loader div:nth-child(3){
  background-color: #c2e1c7;
}
/* Hero Setcion End */

